html
{   
    background-color: rgb(40,40,40);
    font-size: 20px;
    color: white;
    width: 12rem;
    text-align: center;
    border-radius: 5px;
}  
strong
{
    font-weight: 800;
    color: white;
}
b
{
    color: #e20926;
}